@use "fluid-typography" as ft;
@use "variables" as v;

@mixin small-font() {
  font-size: 0.75rem;
  line-height: 0.75 * v.$baseline;
  letter-spacing: 0.3px;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

html {
  font-family: proxima-nova, sans-serif; /* let the browser pick a similar font in the generic sans-serif family, if no other fonts are available */
  @include ft.fluid-type(
    v.$lower-font-range,
    v.$upper-font-range,
    v.$min-font-size,
    v.$max-font-size
  );
}

span.bold {
  font-weight: 500;
}

a {
  text-decoration: none;
}

p a {
  text-decoration: none;
  border-bottom: 1px solid v.$a-underline-color;
  background-color: v.$a-background-color;
  color: black;
  transition: 175ms all ease-in-out;

  &:visited {
  }

  &:hover {
    background-color: v.$a-hover-background-color;
    border-bottom-color: black;
  }

  &:active {
  }

  &:focus {
    // TODO important for accessibility
  }
}

$p-width: 30rem; // about 55 characters wide

p {
  letter-spacing: 0px;
  font-weight: 300;
  font-style: normal;
  margin: v.$baseline auto 0;
  line-height: v.$baseline;
  // word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  // overflow: hidden;
  max-width: min(100vw, #{$p-width});
}

span {
  letter-spacing: 0px;
  font-weight: 300;
  font-style: normal;
}

li {
  line-height: v.$baseline;
  max-width: min(100vw, #{$p-width});
  word-break: break-word;
}

ul,
ol {
  margin: v.$baseline auto 0;
  line-height: v.$baseline;
  // overflow-wrap: break-word;
  max-width: min(100vw, #{$p-width});

  ul,
  ol {
    margin-top: 0;
  }
}

h2,
h3,
h4,
.h2,
.h3,
.h4 {
  max-width: v.$width-breakpoint-laptop-s;
  margin: v.$baseline auto 0;
  word-break: break-word;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: v.$transparent-black-darker;
}

.subtitle {
  font-weight: 500;
  font-style: italic;
}

h1,
.h1 {
  max-width: v.$width-breakpoint-laptop-s;
  margin: v.$baseline auto 0;
  word-break: break-word;
  color: v.$transparent-black-darker;
  text-align: center;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  $min-font-size: v.$mod-1 * v.$mod-1 * v.$mod-1 * v.$mod-1 * v.$min-font-size;
  $max-font-size: v.$mod-2 * v.$mod-2 * v.$mod-2 * v.$mod-2 * v.$min-font-size;
  $font-lower-range: v.$lower-font-range;
  $font-upper-range: v.$upper-font-range;
  @include ft.fluid-type(
    $font-lower-range,
    $font-upper-range,
    $min-font-size,
    $max-font-size
  );

  & {
    line-height: $min-font-size;
    margin-top: v.$baseline;
    // margin-top: calc((#{v.$baseline} - #{$min-font-size}) + #{v.$baseline} * 2);

    @media screen and (min-width: $font-lower-range) {
      $font-size: calc(
        #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
          (
            (100vw - #{$font-lower-range}) / #{strip-unit(
                $font-upper-range - $font-lower-range
              )}
          )
      );
      line-height: $font-size;
      // margin-top: calc((#{v.$baseline} - #{$font-size}) + #{v.$baseline} * 2);
    }

    @media screen and (min-width: $font-upper-range) {
      line-height: $max-font-size;
      // margin-top: calc(
      //   (#{v.$baseline} - #{$max-font-size}) + #{v.$baseline} * 3
      // );
    }
  }
}

h2,
.h2 {
  text-transform: uppercase;
  @include ft.fluid-type(
    v.$lower-font-range,
    v.$upper-font-range,
    v.$mod-1 * v.$mod-1 * v.$mod-1 * v.$min-font-size,
    v.$mod-2 * v.$mod-2 * v.$mod-2 * v.$min-font-size
  );
  @include ft.vertical-rhythm(
    v.$lower-font-range,
    v.$upper-font-range,
    v.$mod-1 * v.$mod-1 * v.$mod-1 * v.$min-font-size,
    v.$mod-2 * v.$mod-2 * v.$mod-2 * v.$min-font-size
  );
}

h3,
.h3 {
  @include ft.fluid-type(
    v.$lower-font-range,
    v.$upper-font-range,
    v.$mod-1 * v.$mod-1 * v.$min-font-size,
    v.$mod-2 * v.$mod-2 * v.$min-font-size
  );
  @include ft.vertical-rhythm(
    v.$lower-font-range,
    v.$upper-font-range,
    v.$mod-1 * v.$mod-1 * v.$min-font-size,
    v.$mod-2 * v.$mod-2 * v.$min-font-size
  );
}

h4,
.h4 {
  text-transform: none;
  @include ft.fluid-type(
    v.$lower-font-range,
    v.$upper-font-range,
    v.$mod-1 * v.$min-font-size,
    v.$mod-2 * v.$min-font-size
  );
  @include ft.vertical-rhythm(
    v.$lower-font-range,
    v.$upper-font-range,
    v.$mod-1 * v.$min-font-size,
    v.$mod-2 * v.$min-font-size
  );
}
