@use "../../styles/variables/" as v;

$sidebar-min-width: 13rem;

.root {
  display: block;
}

.sidebarright,
.sidebarleft {
  position: static;
  max-height: none;
  padding-left: calc((100vw - #{$sidebar-min-width}) / 2);
}

.mainContent {
  h2 {
    margin-top: v.$baseline;
  }
}

@media (min-width: v.$width-breakpoint-tablet) {
  .root {
    display: grid;
    grid-template-columns: $sidebar-min-width 1fr $sidebar-min-width;
    grid-template-rows: auto;
    grid-template-areas: "sidebarleft content sidebarright";
  }

  .sidebarleft {
    grid-area: sidebarleft;
  }

  .sidebarright {
    grid-area: sidebarright;
  }

  .sidebarright,
  .sidebarleft {
    padding-left: 0;
    position: sticky;
    top: var(--header-room);
    max-height: calc(100vh - var(--header-room));
    overflow: auto;
    // padding: 0 auto;
    // TODO add gradient shadow at the top and bottom, like sanity's docs
  }

  .mainContent {
    grid-area: content;
  }
}
