@use "../../styles/variables/" as v;
@use "../../styles/helpers";

$btnColor: v.$primary-brand-color;

.buttonStyled {
  text-decoration: none;
  @include helpers.button-style($btnColor, white, -20%);
}

.button {
  @include helpers.remove-default-button-styles();
  @include helpers.button-style($btnColor, white, -20%);

  // a solution to ensure a perceivable button border for users with Windows High Contrast mode enabled
  // MDN says this is deprecated, but I don't think it hurts to have in here
  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}
