@use "../styles/variables/" as v;
@use "../styles/fluid-typography" as ft;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
  // margin: v.$header-bottom-bar-height + v.$baseline 0;
  grid-gap: 1rem;
  list-style: none;
  padding-inline-start: 0px;
  max-width: 100%;

  a {
    color: inherit;

    &:visited {
      color: inherit;
    }
  }

  h3 {
    margin-top: v.$baseline / 2;
  }

  p {
    margin-top: 0.25rem;
  }

  .subtitle,
  .secondaryStatus {
    text-align: center;
    @include ft.small-font();
  }

  figure {
    margin-top: 0;
  }
}

.nowOnView {
}

.past,
.traveling {
  h3 {
    margin-top: 0;
  }
}
