@use "../../styles/variables/" as v;

$sidebar-min-width: 14rem;

.button {
}

.grid {
  max-width: v.$width-breakpoint-laptop-s;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "sidebar" "main";
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
  // display: none;
  // padding-right: v.$baseline / 2;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: v.$baseline v.$baseline / 2 v.$baseline;

  @media (min-width: v.$width-breakpoint-tablet + 1) {
    padding: v.$baseline v.$baseline / 2 0;
  }

  &.hideSidebarAtBreakpoint {
    display: none;
  }
}

/* a reminder:
$width-breakpoint-mobile-s: 320px;
$width-breakpoint-mobile-l: 425px;
$width-breakpoint-tablet: 768px;
$width-breakpoint-laptop-s: 1024px;
$width-breakpoint-laptop-l: 1440px; */

@media (min-width: v.$width-breakpoint-tablet + 1) {
  .grid {
    grid-template-columns: $sidebar-min-width 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar main";
  }

  .main {
  }

  .sidebar {
    align-self: start;
    position: sticky;
    top: var(--header-max-room);
    // max-height: 100vh;
    transition: all v.$baseline-animation-speed ease-in-out;
    max-height: calc(100vh - var(--header-max-room));
    // height: auto;
    overflow: auto;

    &.hideSidebarAtBreakpoint {
      display: flex;
    }
  }
}

/* @media (min-width: v.$width-breakpoint-laptop-s + 1) {
  .grid {
    grid-template-columns: ;
    grid-template-areas: ;
  }

  .main {
  }

  .sidebar {
  }
} */
