@use "../../styles/variables/" as v;

.tocSection {
  margin-top: v.$baseline;
  // overflow: auto;

  &:first-child {
    margin-top: 0;
    border-top: 1px solid transparent;
  }

  // this selects all tocSections besides the first
  & ~ .tocSection {
    border-top: 3px solid v.$medium-gray;
  }

  h2 {
    margin-top: v.$baseline;
  }
  // this is for jumping to the right place when an internal link sends the user to a heading with an id
  //  & h2::before {
  // $block-height: var(--header-room) + v.$baseline;
  /*     padding-top: $block-height;
    margin-top: $block-height * -1;
    -webkit-background-clip: content-box;
    background-clip: content-box; */
  /* display: block;
    content: " ";
    margin: $block-height * -1 0 0;
    height: $block-height;
    visibility: hidden;
    pointer-events: none; */
  // }
}

.sidebar {
  grid-area: sidebar;
  display: none;
}

.tocHeader {
  text-align: left;
  margin-left: 1rem;
  margin-top: v.$baseline;
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "main";
}

.main {
  grid-area: main;
  padding: 0 v.$baseline / 2 v.$baseline;
}

.toc {
  grid-area: toc;
  padding-left: v.$baseline / 2;
  padding-bottom: v.$baseline / 2;
  overflow: auto;
  max-height: calc(100vh - var(--header-room));

  ul {
    list-style: none;
    margin-top: v.$baseline / 2;
  }

  li {
    transition: all 200ms ease-in-out;
    padding: v.$baseline / 4;
    border-left: 4px solid v.$light-gray-background-color;
    margin: 0;

    a {
      color: v.$transparent-black-darker;
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

    &:hover {
      border-left: 4px solid rgba(v.$primary-brand-color, 0.3); //v.$medium-gray;
    }

    &.activeLink {
      border-left: 4px solid v.$primary-brand-color; //v.$transparent-black-lighter;
    }
  }
}

.afterToc {
  grid-area: afterToc;
  overflow: auto;
  // border-top: 3px solid v.$medium-gray;

  // .gradient {
  //   pointer-events: none;
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   height: 100%; // TODO this needs fixing. currently it will only display at the very top and bottom of the screen. We want it to start displaying just after the toc section.
  //   background: linear-gradient(
  //     v.$light-gray-background-color,
  //     hsla(0, 0%, 100%, 0) 4%,
  //     hsla(0, 0%, 100%, 0) 96%,
  //     v.$light-gray-background-color
  //   );
  // }
}

.noTocTitle ul {
  padding-inline-start: 0px;
}

$sidebar-min-width: 13rem;

@mixin toc-shown {
  grid-template-columns: 1fr $sidebar-min-width;
  grid-template-areas: "main sidebar";

  .main {
  }

  .sidebar {
    display: grid;
    grid-template-areas: "toc" "afterToc";
    // flex-direction: column;
    grid-template-rows: auto 1fr;
    align-self: start;
    position: sticky;
    top: var(--header-room);
    transition: all 0.2s ease-in-out;
    // height: calc(100vh - var(--header-room));
    // overflow: auto;
  }

  .hiddenAtBreakpoint {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    margin-top: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

@media (min-width: v.$width-breakpoint-tablet) {
  .gridBreakpointTablet {
    @include toc-shown();
  }
}

@media (min-width: v.$width-breakpoint-laptop-s) {
  .gridBreakpointLaptop {
    @include toc-shown();
  }
}
