// GLOBAL VARIABLES

// BREAKPOINTS
$width-breakpoint-mobile-s: 320px;
$width-breakpoint-mobile-l: 425px;
$width-breakpoint-tablet: 768px;
$width-breakpoint-laptop-s: 1024px;
$width-breakpoint-laptop-l: 1440px;
