// COLORS
$primary-brand-color: #7c2128;
$secondary-brand-color: #eaaf0f;
$medium-gray: hsl(0, 0%, 80%);
$light-gray-background-color: hsl(0, 0%, 95%); // gray(95)
$transparent-white: hsla(0, 0%, 100%, 0.66);
$transparent-black: hsla(0, 0%, 0%, 0.76);
