@forward "./colors";
@forward "./typography";
@forward "./breakpoints";
@use "./typography";

// GLOBAL VARIABLES

// IMAGES
// $max-image-height: 50vh;

// Z-INDICES
$sidebar-z-index: 0;
$memcard-z-index: 0;
$memscrollbutton-z-index: $memcard-z-index + 1;
$footer-z-index: $sidebar-z-index + 1;
$header-z-index: $footer-z-index + 1;

// SIZING
$header-height: typography.$baseline * 2.5;
