@use "../styles/variables/" as v;

.eventDateSection {
  margin-bottom: v.$baseline * 2;

  & > div {
    margin-bottom: v.$baseline;
  }

  h2 {
    position: sticky;
    top: var(--header-room);
    transition: all v.$baseline-animation-speed ease-in-out;
    border-bottom: 1px solid v.$dark-gray;
    padding: v.$baseline 0;
    margin: 0;
  }

  p {
    text-align: center;
  }

  figure {
    margin: 0;

    img {
      width: 75%;
      height: auto;

      @media (min-width: 1175px) {
        max-height: 4 * v.$baseline;
        width: auto;
      }
    }
  }

  .eventCardSubtitle {
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 1.15 * v.$baseline;
    margin: 0 auto;
    color: v.$transparent-black-lighter;
  }

  .eventCardBannerContainer {
    margin-top: v.$baseline;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1175px) {
      flex-direction: row;
    }

    .eventCardDateInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: v.$baseline auto 0;

      @media (min-width: 380px) {
        flex-direction: row;
      }

      @media (min-width: 1175px) {
        margin: 0 0 0 v.$baseline / 2;
      }

      p {
        margin: 0 v.$baseline / 2;
        text-align: center;
      }
    }

    *:first-child {
      margin-top: 0;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "datePicker" "events";
}

.datePickerContainer {
  grid-area: datePicker;
  padding: 0 v.$baseline / 2 v.$baseline;
  max-width: 100vw;

  // *:first-child {
  //   margin-top: 0;
  // }

  p {
    margin-top: v.$baseline;
  }
}

.eventsContainer {
  grid-area: events;
  padding: 0 v.$baseline / 2 v.$baseline;
}

@media (min-width: v.$width-breakpoint-tablet + 1) {
  .grid {
    grid-template-columns: 40% 1fr;
    grid-template-areas: "datePicker events";
  }

  .datePickerContainer {
    align-self: start;
    position: sticky;
    top: var(--header-room);
    transition: all v.$baseline-animation-speed ease-in-out;
    max-height: calc(100vh - var(--header-room));
    overflow: auto;
  }
}
