@use "../styles/variables/" as v;
@use "../styles/typography.scss";

.titleButtonContainer {
  display: flex;
  justify-content: space-around;
  margin: v.$baseline auto 0;
  max-width: v.$width-breakpoint-mobile-l;
}

.firstHeading {
  margin-top: v.$baseline;
}

.halfTopMargin {
  margin-top: v.$baseline / 2;
}

.artistGrid {
  display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* This is better for small screens, once min() is better supported */
  grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
  grid-gap: 1rem;
  /* This is the standardized property now, but has slightly less support */
  /* gap: 1rem */
}

.artistCard {
  & h3 {
    margin-top: v.$baseline;
  }
  // display: grid;
  // grid-template-rows: ;
  & a figure,
  & a h3 {
    background-color: transparent;
  }
}

.excerpt {
  @include typography.small-font();
}

.navListItem {
  // margin-top: 0;
  padding-top: 0;

  h2 {
    margin-top: v.$baseline / 2;
    color: inherit;
  }
}
