@use "../../styles/variables/" as v;

.daysClosed {
  max-width: min(#{v.$max-p-width}, 90%);
  width: 100%;
  margin: v.$baseline auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: v.$baseline / 2 v.$baseline;

  span {
    display: flex;
    justify-content: center;
    white-space: nowrap;
  }
}
