@use "../styles/variables/" as v;

$fade-duration: 0.5s;
$fade-delay: 0s;

.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  --header-room: #{v.$header-bottom-bar-height}; // changes based on how much visible room the header is taking up
  --header-max-room: #{v.$header-bottom-bar-height + v.$header-top-bar-height}; // static

  main {
    visibility: visible;
    opacity: 1;
    // TODO somehow get this to only happen when it's a new page we're switching to.
    // just closing the header on the same page shouldn't trigger the transition

    // &.fadeIn {
    transition: visibility $fade-duration ease-in-out $fade-delay,
      opacity $fade-duration ease-in-out $fade-delay;
    // }

    > *:last-child {
      margin-bottom: v.$baseline;
    }
    &.hasMediaBg {
      > *:last-child {
        margin-bottom: 0;
      }
    }

    &.visibilityHidden {
      visibility: hidden;
      opacity: 0;
      transition: visibility v.$baseline-animation-speed ease-in-out 0s,
        opacity v.$baseline-animation-speed ease-in-out;
    }
  }
}

.layoutContainer > header,
.layoutContainer > footer {
  flex: 0 0 auto;
}

.headerIsOpen {
}

.headerIsShown {
  --header-room: #{v.$header-top-bar-height + v.$header-bottom-bar-height};
}
