@use "../styles/variables/" as v;

.card {
  transition: all 0.2s ease-in-out 0s;
  flex: 1 0 90%;
  @media (min-width: v.$width-breakpoint-mobile-l) {
    flex: 1 0 80%;
  }
  @media (min-width: v.$width-breakpoint-tablet) {
    flex: 1 0 40%;
  }
  @media (min-width: v.$width-breakpoint-laptop-s) {
    flex: 1 0 30%;
  }

  // margin-top: v.$baseline;
  // min-height: min(100%, 50vh);
  // height: fit-content;
  overflow: visible;
  position: relative;
  z-index: v.$memcard-z-index;
  // max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  max-height: min(90vh, 800px);
  // height: auto;
  background-color: v.$lighter-gray;
  border-radius: 4px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 6, 0.08), 0 0 2px 0 rgba(0, 0, 6, 0.08);

  &:hover {
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 6, 0.18),
      0 0 4px 0 rgba(0, 0, 6, 0.18);
  }

  .tagline {
    display: flex;
    align-items: center;
    justify-content: center;
    $tagline-height: v.$baseline * 0.75;
    $tagline-padding: v.$baseline / 4;
    position: absolute;
    font-size: 0.75rem;
    height: $tagline-height + $tagline-padding * 2;
    top: -1 * ($tagline-height + $tagline-padding);
    right: v.$baseline / 2;
    background-color: v.$dark-blue;
    color: white;
    padding: $tagline-padding;
  }

  h3 {
    margin: v.$baseline / 2 v.$baseline / 2;
    // text-align: left;
  }

  .membersAndGuests {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-left: v.$
    }

    & > * {
      margin-left: v.$baseline / 6;
    }

    .memberCards,
    .cardsDonated {
      font-size: 1.5rem;
    }

    .narmLogo {
      img {
        margin: 0;
      }
    }

    .adultGuests {
      font-size: 1rem;
    }

    .childGuests {
      font-size: 1rem;
    }
  }

  .priceInfo {
    text-align: center;
    margin-top: v.$baseline / 2;
  }

  .price {
    font-weight: 600;
    font-size: 1.3rem;
    // margin-top: v.$baseline / 2;
  }

  &Banner {
    margin: v.$baseline / 2 0 0;
    flex: 0 0 25%;
    min-width: 100%;

    img {
      // width: auto;
      min-height: 100%;
      object-fit: cover;
    }

    // TODO not sure what the ideal max-height here is
    @media (max-height: 800px) {
      display: none;
    }
  }

  .buttonContainer {
    margin: v.$baseline / 2 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: v.$baseline;
  }

  .inheritsFrom {
    display: block;
    text-align: center;
    margin: v.$baseline v.$baseline / 2 0;
  }

  .featuredBenefits {
    margin: v.$baseline / 2;
  }

  > *:last-child {
    margin-bottom: v.$baseline / 2;
  }
}

.inheritColor {
  color: inherit;
}
