@use "../styles/variables/" as v;
@use "../styles/typography.scss";

@mixin nav-list-a {
  a {
    color: v.$dark-gray;
    line-height: 1.5;
    // display: block;

    &:hover {
      color: v.$transparent-black-darker;
    }

    transition: all 200ms ease-in-out;

    &.activeLink {
      color: v.$primary-brand-color;
      border-bottom: 2px solid v.$transparent-black-darker;
    }
  }
}

.nav {
  padding-bottom: v.$baseline;
  padding-right: v.$baseline / 2;

  h2,
  h3,
  h4,
  h5 {
    @include nav-list-a();
    text-align: left;
    margin-left: 0;
    margin-top: v.$baseline / 2;
    font-weight: 400;
  }
}

.list {
  @include nav-list-a();

  list-style: none;
  list-style-position: inside;
  margin-top: v.$baseline / 2;
  padding-inline-start: 1rem;

  li {
    padding: v.$baseline * 0.1 0 0 v.$baseline / 2;
    letter-spacing: 0.5px;
    border-left: 4px solid v.$light-gray-background-color;
    margin-top: v.$baseline / 4;
    @include typography.small-font();
  }

  ul {
    list-style-position: inside;
    list-style: none;
  }
}
